@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply list-none;
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
}

@layer components {
  .detained-search-bar {
    @apply grid grid-cols-[1fr_auto] gap-6 sm:grid-cols-1;
    & input[type="text"] {
      @apply sm:col-span-2 sm:row-start-2;
    }
  }
  .table-top {
    @apply relative mb-5 grid grid-cols-[1fr_1fr] gap-6 lg:grid-cols-1 lg:gap-3;
    & .sort-bar {
      @apply grid grid-cols-[1fr_1fr] gap-4 lg:col-start-1 lg:row-start-2 sm:gap-1;
    }
    & .search-bar {
      @apply grid grid-cols-[1fr_auto] gap-4 sm:gap-1;
    }
  }
  .has-arrow {
    position: relative;
  }

  .has-arrow::after {
    @apply absolute -top-10 right-2 border-[20px] border-transparent border-b-white lg:content-[""];
  }

  .btn {
    @apply rounded-md px-4 py-3 text-2xl;
  }

  .btn-primary {
    span:nth-child(1) {
      @apply icon text-2xl text-primary;
    }
    span:nth-child(2) {
      @apply text-xl font-bold text-TextColor;
    }
  }

  .btn-secondary {
    span:nth-child(1) {
      @apply icon text-base text-secondary;
    }
    span:nth-child(2) {
      @apply text-base font-semibold text-TextColor;
    }
  }

  .links {
    @apply space-y-2;
    .active {
      @apply bg-sky-100;
    }
    .active span {
      @apply text-sky-500;
    }
  }

  .input {
    @apply rounded-sm border border-gray-300 focus:outline-none;
  }
  .form-row {
    & > input,
    & > textarea,
    & > select {
      @apply input bg-gray-50 px-5 py-4 transition-colors focus:border-TextColor focus:outline-none;
    }
    & > textarea {
      @apply h-40 resize-none;
    }
  }
  .options {
    @apply absolute max-h-52 min-w-full overflow-y-scroll border border-TextColor bg-white py-4 shadow-md focus:outline-none;
    option {
      @apply h-10 cursor-pointer hover:bg-gray-600 hover:text-white;
    }
  }
  option.selected {
    @apply bg-gray-600 text-white;
  }
  .image-uploader {
    label {
      @apply btn cursor-pointer bg-secondary text-xl font-bold text-TextColor;
    }
  }
  .move-page {
    @apply flex h-12 w-12 items-center justify-center rounded-full bg-gray-200 transition-colors duration-200;
    &:hover {
      @apply bg-blue-500 text-white;
    }
  }
  .btn-page {
    @apply h-12 w-12 rounded-xl transition-all duration-200;
    &.not-active {
      @apply bg-gray-200;
      .number {
        @apply text-gray-700;
      }
      &:hover {
        .number {
          @apply text-blue-500;
        }
      }
    }

    &.active {
      @apply bg-blue-500 shadow-custom-blue;

      .number {
        @apply text-white;
      }
    }
  }
}
@layer utilities {
  .one-for-card {
    @apply col-span-2 lg:col-span-1;
  }
  .one-for-card-md {
    @apply col-span-2 md:col-span-1;
  }
  .custom-divide > :not(:last-child) {
    border-bottom: 1px solid #e5e7eb;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0; /* Hides scrollbar track */
    height: 0;
  }

  /* Hide scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: thin; /* Minimal width when inactive */
  }

  /* Internet Explorer and older Edge support */
  .custom-scrollbar {
    -ms-overflow-style: none;
  }
  .col {
    @apply flex flex-col;
  }
  .flex-hori {
    @apply flex items-center justify-between;
  }
  .flex-ver {
    @apply flex flex-col justify-center;
  }
  .icon {
    @apply inline-block;
    top: calc(50% - 12px);
  }
  .disabled {
    @apply pointer-events-none opacity-50;
  }
  .shadow-right {
    -webkit-box-shadow: 0 0 11px 0 #7777774d;
    -moz-box-shadow: 0 0 11px 0 #7777774d;
    box-shadow: 0 0 11px 0 #7777774d;
  }
  .shadow-all {
    -webkit-box-shadow: -2px 0px 28px 4px rgba(209, 201, 209, 1);
    -moz-box-shadow: -2px 0px 28px 4px rgba(209, 201, 209, 1);
    box-shadow: -2px 0px 28px 4px rgba(209, 201, 209, 1);
  }
  .popup-enter {
    animation: popupScale 0.3s forwards ease-in-out;
  }

  .rounded-top {
    border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
  }
  .tab-selected {
    @apply bg-white text-primary;
  }
  .abs-error {
    .error {
      @apply absolute;
      top: calc(100% - 12px);
    }
  }
}

@keyframes popupScale {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
